:root {
  --basic-black: #000000;
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-verydarkblue: #293449;
  --basic-darkblue: #32425C;
  --basic-grey: #C5C5C5;
  --special-grey: #F9F5F0;
  --text-grey: #A9A9A9;
  --border-grey: #EAEAEA;
  --basic-background: #f3f7f8;
  --white: #FFFFFF;
  --special-orange: #FFBF47;
  --special-blue: #3BBCE3;
  --special-green: #8ED78F;
  --special-purpule: #DC91D8;
  --text-orange: #FFD180;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  position: absolute;
  width: 1px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.header-navigation {
  font-family: "Cuprum", sans-serif;
  background-color: var(--basic-verydarkblue);
}

.logo {
  background-color: var(--basic-red);
  width: 220px;
  height: 42px;
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.user-navigation a {
  color: var(--white);
}

.user-navigation .checkout {
  background-color: var(--basic-green);
}

.user-navigation .cart {
  background-color: var(--basic-red);
}

.contact-navigation {
  background-color: var(--basic-background);
  font-family: "Cuprum", sans-serif;
}

.contact-navigation i {
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
}

.contact-navigation .phone-number {
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
}

.contact-navigation address {
  color: var(--basic-darkblue);
  font-size: 14px;
  font-style: normal;
}

.profile-navigation a {
  color: var(--basic-black);
  background-color: var(--white);
  font-size: 21px;
}

.enter-property a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-darkblue);
}

.site-navigation {
  font-family: "Cuprum", sans-serif;
  background-color: var(--basic-darkblue);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.site-navigation a {
  color: var(--white);
}

.footer-navigation {
  font-family: "Cuprum", sans-serif;
  background-color: var(--basic-darkblue);
}

.footer-navigation a {
  color: var(--white);
}

.footer-navigation address {
  color: var(--white);
  font-style: normal;
}

.inside-navigation a {
  color: var(--text-orange);
}

.social-contact {
  background-color: var(--basic-verydarkblue);
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.developer-contact a {
  color: var(--text-orange);
}

.offers {
  font-family: "Cuprum", sans-serif;
}

.offers .offers-button {
  color: var(--white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(255,255, 255, 0.3);  /*как записать цвет фона переменная + опасити?*/
  padding-top: 10px;
  padding-bottom: 10px;
}

.offers li {
  width: 300px;
  min-height: 123px;
}

.offers span {
  color: var(--white);
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
}

.offers .materials {
  background-color: var(--special-orange);
}

.materials a {
  padding-left: 23px;
  padding-right: 24px;
}

.offers .tools {
  background-color: var(--special-blue);
}

.tools a {
  padding-left: 26px;
  padding-right: 26px;
}

.offers .equipment {
  background-color: var(--special-purpule);
}

.equipment a {
  padding-left: 30px;
  padding-right: 31px;
}

.offers .discounts {
  background-color: var(--special-green);
}

.discounts a {
  padding-left: 22px;
  padding-right: 23px;
}


.offers .delivery {
  background-color: var(--special-orange);
}

.delivery a {
  padding-left: 36px;
  padding-right: 37px;
}

.special-offers h2 {
  color: var(--white);
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
}

.special-offers p {
  color: var(--white);
}

.special-offers .rotary-hammers {
  background-color: var(--basic-grey);
  background-image: url(/img/rotary-hammer.jpg);
  background-repeat: no-repeat;
  width: 620px;
  height: 266px;
}

.special-offers .drills {
  background-color: var(--basic-grey);
  background-image: url(/img/drill.jpg);
  background-repeat: no-repeat;
  width: 620px;
  height: 266px;
}

.red-button {
  background-color: var(--basic-red);
  color: var(--white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  border: none;
}

.special-offers .red-button {
  padding: 11px 46px 10px 46px;
}

.headline {
  font-family: "Cuprum", sans-serif;
  background-color: var(--special-grey);
  min-height: 89px;
  margin-bottom: 20px;
}

.headline h2 {
  color: var(--basic-darkblue);
  font-size: 30px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: normal;
}

.headline .red-button {
  padding: 11px 24px 9px 24px;
}

.catalog-item {
  max-width: 220px;
  text-align: center;
  border: 1px solid var(--border-grey);
}

.catalog-item h3 {
  font-size: 18px;
  line-height: 20px;
}

.catalog-item p {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: var(--text-grey);
  text-decoration: line-through;
}

.catalog-item .red-button {
  font-size: 17px;
  font-weight: bold;
  padding: 10px 44px 10px 42px;
  border-radius: 2px;
}

.green-button {
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px #367315;
  padding: 10px 30px 10px 25px;
  border-radius: 2px;
}

.green-button-transparent {
  font-family: "Cuprum", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-darkblue);
  background-color: var(--white);
  padding: 7px 31px 7px 30px;
  border-radius: 2px;
  border: 3px solid var(--basic-green);
}
