:root {
  --basic-black: #000000;
  --basic-red: #EE3643;
  --deep-red: #BA2732;
  --basic-green: #63A63E;
  --green-button: #5FBB2D;
  --dark-green-button: #518534;
  --basic-darker-blue: #293449;
  --basic-dark-blue: #32425C;
  --active-header-button: #161D29;
  --border-blue: #405069;
  --border-green: #367315;
  --border-grey: #EAEAEA;
  --border-light-grey: #E5E5E5;
  --basic-grey: #C5C5C5;
  --special-grey: #F9F5F0;
  --text-grey: #A9A9A9;
  --scale-line: #D7DCDE;
  --bar-line: #00ca74;
  --basic-background: #f3f7f8;
  --light-backgroun: #F4F4F4;
  --blue-background: #F1F5F7;
  --light-blue-background: #F2F6F8;
  --sort-background: #F7F3EC;
  --white: #FFFFFF;
  --special-orange: #FFBF47;
  --special-blue: #3BBCE3;
  --special-green: #8ED78F;
  --special-purpule: #DC91D8;
  --text-orange: #FFD180;
  --icon-blue: #212A3A;
  --icon-dark-blue: #3D546F;
  --cuprum-font: "Cuprum", "Arial", sans-serif;
  --under-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  --transperent-button: rgba(255, 255, 255, 0.3);
  --transperent-hover-button: rgba(197, 197, 197, 0.3);
  --transperent-active-button: rgba(169, 169, 169, 0.3);
  --sort-border: rgba(0, 0, 0, 0.1);
  --form-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15)
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--white);
}

*, *::before, *::after {
  box-sizing: border-box
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  position: absolute;
  width: 1px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-header {
  margin-bottom: 59px;
  display: flex;
  flex-direction: column;
  background-color: var(--basic-background);
  padding-bottom: 60px;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.header-navigation {
  font-family: var(--cuprum-font);
  background-color: var(--basic-darker-blue);
  width: 100%;
}

.logo-wrapper {
  display: flex;
  background-color: var(--basic-red);
  box-shadow: var(--under-shadow);
  width: 220px;
  height: 47px;
  margin-bottom: -5px;
}

.logo-wrapper:active {
  background-color: var(--deep-red);
}

.header-navigation .container {
  display: flex;
}

.search-form input {
  width: 270px;
  height: 42px;
  padding: 0;
  border: none;
  background-color: transparent;
  padding-left: 42px;
  outline: none;
  cursor: pointer;
}

.search-form input:focus {
  background-color: var(--white);
  color: var(--basic-black);
}

.header-search:focus::placeholder, .login-field:focus::placeholder, .email-field:focus::placeholder, .order-field:focus::placeholder {
  color: transparent;
}

.search-form {
  position: relative;
}

.search-button {
  cursor: pointer;
  background-color: var(--basic-darker-blue);
  border: none;
  padding: 0;
  position: absolute;
  top: 12px;
  left: 17px;
}

.search-button svg {
  opacity: 0.3;
}

.header-search:hover+.search-button svg {
  opacity: 1;
}

.header-search:focus+.search-button {
  background-color: var(--white);
}

.header-search:focus+.search-button path {
  fill: var(--basic-red);
  opacity: 1;
}

.header-search::placeholder {
  color: var(--white);
}

.logo {
  display: block;
  margin: 9px 57px 14px 55px;
}

.logo-footer {
  display: block;
  margin: 9px 40px 14px 42px;
}

.bookmarks::before, .bookmarks-catalog::before {
  content: url(../img/icon-bookmark.svg);
  position: absolute;
  top: 11px;
  left: 20px;
  opacity: 0.3;
}

.bookmarks-catalog::before {
  left: 7px;
}

.header-cart::before {
  content: url(../img/icon-cart.svg);
  position: absolute;
  top: 10px;
  left: 26px;
  opacity: 0.3;
}

.user-navigation {
  display: flex;
  margin-left: auto;
}

.user-navigation a {
  display: block;
  color: var(--white);
  width: 150px;
  padding-bottom: 9px;
  padding-top: 9px;
  text-align: center;
  position: relative;
}

.checkout:hover {
  background-color: var(--green-button);
}

.user-navigation a:active:not(.checkout) {
  background-color: var(--active-header-button);
  opacity: 0.3;
}

.checkout:active {
  background-color: var(--basic-green);
  color: rgba(255, 255, 255, 0.5);
}

.user-navigation a:hover:before {
  opacity: 1;
}

.bookmarks {
  padding-left: 19px;
}

.bookmarks-catalog {
  padding-right: 7px;
}

.header-cart {
  padding-left: 22px;
}

.checkout {
  background-color: var(--basic-green);
}

.user-navigation .cart {
  background-color: var(--basic-red);
  padding-left: 14px;
  width: 136px;
}

.cart::before {
  content: url(../img/icon-cart.svg);
  position: absolute;
  top: 10px;
  left: 12px;
  opacity: 0.3;
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 270px;
}

.contact-navigation {
  display: flex;
  justify-content: space-between;
  font-family: var(--cuprum-font);
  padding-top: 46px;
  margin-bottom: 27px;
}

.contact-navigation p {
  color: var(--basic-red);
  font-size: 16px;
  width: 197px;
  margin-left: 30px;
  margin-right: 42px;
  margin-top: -3.5px;
  font-style: italic;
}

.contact-navigation .index-tagline {
  margin-right: 24px;
}

.contact-navigation .phone-number {
  display: block;
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
  font-weight: bold;
  border: 3px solid var(--white);
  padding: 5px 42px 4px 71px;
  margin-bottom: 3px;
  position: relative;
}

.phone-number::before {
  content: url(../img/icon-phone.svg);
  position: absolute;
  top: 8px;
  left: 36px;
}

.contact-navigation address {
  color: var(--basic-dark-blue);
  font-size: 14px;
  font-style: normal;
}

.profile-navigation a, .profile-navigation-username a {
  color: var(--basic-black);
  background-color: var(--white);
  font-size: 21px;
  display: block;
}

.profile-navigation ul {
  display: flex;
  justify-content: space-between;
}

.profile-navigation {
  width: 280px;
}

.profile-navigation-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-navigation-username {
  display: flex;
  width: 300px;
  position: relative;
  margin-bottom: 3px;
}

.profile-navigation .enter-button {
  padding: 10px 27px 11px 45px;
  position: relative;
}

.enter-button:hover, .registration-button:hover {
  color: var(--basic-red);
}

.enter-button:hover:before {
  opacity: 1;
}

.enter-button:active, .registration-button:active {
  color: var(--basic-grey);
}

.enter-button:active:before {
  opacity: 0.3;
}

.enter-button::before {
  content: url(../img/icon-login.svg);
  position: absolute;
  left: 17px;
  top: 13px;
  opacity: 0.3;
}

.profile-navigation .registration-button {
  padding: 10px 24px 11px 24px;
}

.personal-area {
  padding: 11px 57px 10px 57px;
}

.personal-area::before {
  content: url(../img/icon-user.svg);
  opacity: 0.3;
  position: absolute;
  top: 13px;
  left: 16px;
}

.personal-area:hover:before {
  opacity: 1;
}

.personal-area:active {
  color: var(--basic-grey);
}

.personal-area:active:before {
  opacity: 0.3;
}

.exit-button {
  font-size: 0;
}

.exit-button::before {
  content: url(../img/icon-logout.svg);
  opacity: 0.3;
  position: absolute;
  top: 13px;
  right: 17px;
}

.exit-button:hover:before {
  opacity: 1;
}

.exit-button:active:before {
  opacity: 0.3;
}

.enter-property {
  display: flex;
  width: 210px;
  flex-wrap: wrap;
}

.enter-property a:hover {
  color: var(--basic-red);
}

.enter-property a:active {
  color: var(--basic-grey);
}

.enter-property li {
  position: relative;
}

.enter-property li:nth-child(2n) {
  margin-left: 13px;
}

.my-order {
  padding-right: 19px;
}

.my-order::after {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: var(--basic-dark-blue);
  position: absolute;
  top: 12px;
  right: 0;
}

.my-order:hover+.my-order:after {
  background-color: var(--basic-red);
}

.my-order:active+.my-order:after {
  background-color: var(--basic-grey);
}

.enter-property a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-dark-blue);
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  background-color: var(--basic-dark-blue);
  box-shadow: var(--under-shadow);
  font-family: var(--cuprum-font);
  padding-left: 24px;
  padding-right: 19px;
  position: relative;
}

.site-navigation a {
  display: block;
  padding-top: 17px;
  padding-bottom: 20px;
  color: var(--white);
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

.site-navigation a:hover {
  background-color: var(--basic-darker-blue);
}

.site-navigation a:active {
  background-color: var(--active-header-button);
  opacity: 0.5;
}

.site-navigation li {
  flex-grow: 1;
}

.footer-navigation {
  font-family: var(--cuprum-font);
  background-color: var(--basic-dark-blue);
}

.footer-navigation a {
  color: var(--white);
}

.footer-site-navigation a:hover, .inside-navigation-wrapper a:hover {
  text-decoration: underline;
}

.footer-site-navigation a:active, .inside-navigation-wrapper a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-navigation address {
  color: var(--white);
  font-style: normal;
}

.inside-navigation {
  margin-left: auto;
  width: calc(100% - 323px);
}

.inside-navigation li {
  flex-grow: 1;
  text-align: right;
}

.inside-navigation a {
  color: var(--text-orange);
}

.inside-navigation-wrapper {
  padding-top: 27px;
  padding-bottom: 56px;
}

.inside-navigation-wrapper li {
  padding-left: 20px;
}

.footer-contacts-wrapper {
  max-width: 340px;
  margin-top: -5px;
  padding-left: 3px;
}

.footer-site-navigation, .footer-site-navigation ul, .inside-navigation-wrapper, .inside-navigation, .social-contac-wrapper, .social-network, .developer-contact {
  display: flex;
}

.logo-wrapper-footer {
  width: 220px;
  height: 68px;
  margin-bottom: 0;
}

.footer-site-navigation nav {
  padding-top: 38px;
  width: calc(100% - 220px);
}

.footer-site-navigation ul, .inside-navigation {
  flex-wrap: wrap;
  margin-left: auto;
  width: 605px;
}

.inside-navigation {
  width: 585px;
}

.footer-site-navigation li {
  flex-grow: 1;
  text-align: right;
  padding-left: 20px;
}

.social-contact {
  background-color: var(--basic-darker-blue);
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
}

.copyright {
  width: 227px;
  margin-right: 163px;
}

.copyright p {
  margin: 0;
}

.social-network {
  width: 134px;
  margin-top: -3px;
  justify-content: space-between;
}

.developer-contact {
  justify-content: space-between;
  flex-wrap: wrap;
  width: 286px;
  margin-left: 118px;
  margin-right: 13px;
}

.developer-contact a:hover {
  text-decoration: underline;
}

.developer-contact a:active {
  text-decoration: none;
  color: var(--basic-red);
}

.contact-website {
  width: 98px;
}

.contact-email {
  width: 137px;
}

.developer-contact div {
  word-wrap: break-word;
}

.developer-contact p {
  margin: 0;
}

.social-contac-wrapper {
  padding-top: 36px;
  padding-bottom: 30px;
}

.social-button {
  display: block;
  background-color: var(--icon-blue);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.social-button:hover, .social-button:active {
  background-color: var(--basic-red);
}

.vkontakte {
  background-image: url(../img/icon-vk.svg);
}

.facebook {
  background-image: url(../img/icon-fb.svg);
}

.instagram {
  background-image: url(../img/icon-insta.svg);
}

.developer-contact a {
  color: var(--text-orange);
}

.offers {
  font-family: var(--cuprum-font);
  padding-bottom: 59px;
}

.offers-button {
  background-color: var(--transperent-button);
  padding-top: 10px;
  padding-bottom: 10px;
}

.offers .offers-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

.discounts {
  grid-column-start: 3;
  grid-row-start: 2;
}

.delivery {
  grid-column-start: 3;
  grid-row-start: 3;
}

.offers li:not(.special-tools):not(.rotary-hammers):not(.drills) {
  width: 300px;
  min-height: 123px;
}

.offers-grid a:not(.red-button):hover {
  background-color: var(--transperent-hover-button);
}

.offers-grid a:not(.red-button):active {
  background-color: var(--transperent-active-button);
}

.offers li:not(.special-tools) {
  padding: 20px 23px 17px 23px;
}

.offers li {
  position: relative;
}

.materials::after {
  content: url(../img/new-icon.png);
  position: absolute;
  top: 0;
  right: 0;
}

.materials::before {
  content: url(../img/icon-1.svg);
  position: absolute;
  top: 31px;
  right: 43px;
}

.tools::before {
  content: url(../img/icon-2.svg);
  position: absolute;
  top: 34px;
  right: 31px;
}

.equipment::before {
  content: url(../img/icon-3.svg);
  position: absolute;
  top: 31px;
  right: 31px;
}

.discounts::before {
  content: url(../img/icon-4.svg);
  position: absolute;
  top: 26px;
  right: 45px;
}

.delivery::before {
  content: url(../img/icon-5.svg);
  position: absolute;
  top: 32px;
  right: 31px;
}

.offers span {
  display: block;
  color: var(--white);
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  padding-bottom: 20px;
}

.offers .materials {
  background-color: var(--special-orange);
}

.materials a {
  padding-left: 23px;
  padding-right: 24px;
}

.offers .tools {
  background-color: var(--special-blue);
}

.tools a {
  padding-left: 26px;
  padding-right: 26px;
}

.offers .equipment {
  background-color: var(--special-purpule);
}

.equipment a {
  padding-left: 30px;
  padding-right: 31px;
}

.offers .discounts {
  background-color: var(--special-green);
}

.discounts a {
  padding-left: 22px;
  padding-right: 23px;
}

.offers .delivery {
  background-color: var(--special-orange);
}

.delivery a {
  padding-left: 36px;
  padding-right: 37px;
}

.special-offers h2 {
  color: var(--white);
  font-size: 36px;
  line-height: 40px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 3px;
}

.special-offers p {
  color: var(--white);
  margin: 0;
}

.rotary-hammers, .drills {
  background-color: var(--basic-grey);
  background-repeat: no-repeat;
  width: 620px;
  height: 266px;
}

.special-tools {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  position: relative;
}

.special-offers .rotary-hammers {
  background-image: url(../img/rotary-hammer.jpg);
}

.special-offers .drills {
  background-image: url(../img/drill.jpg);
}

.slide {
  display: none;
}

.slide-current {
  display: block;
}

.slider-buttons {
  width: 100%;
}

.arrow {
  position: absolute;
  z-index: 5;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
}

.arrow {
  width: 23px;
  height: 41px;
}

.arrow-left {
  top: 121px;
  left: 23px;
}

.arrow-right {
  top: 117px;
  right: 20px;
}

.arrow-left::before {
  content: url(../img/icon-left.svg);
  position: absolute;
  top: 0;
  left: 0;
}

.arrow-right::before {
  content: url(../img/icon-left.svg);
  position: absolute;
  transform: rotate(180deg);
  top: 0;
  right: 0;
}

.radio-slider-buttons {
  position: absolute;
  display: flex;
  justify-content: center;
  bottom: 36px;
  width: 100%;
  height: 10px;
}

.radio-slider-buttons button {
  border: 2px solid var(--white);
  background-color: var(--white);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  padding: 0;
  margin: 0 5px;
  z-index: 5;
  cursor: pointer;
  outline: none;
}

.radio-slider-buttons .active-slide {
  background-color: var(--basic-red);
}

.second-radio-slide::before {
  left: 315px;
}

.second-radio-slide:active::before, .second-radio-slide:focus::before, .first-radio-slide:active::before, .first-radio-slide:focus::before {
  background-color: var(--basic-red);
}

.button-style {
  color: var(--white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
}

.red-button {
  background-color: var(--basic-red);
  border: none;
  font-family: var(--cuprum-font);
}

.special-offers .red-button {
  padding: 11px 47px 9px 46px;
  position: absolute;
  bottom: 28px;
  left: 24px;
}

.special-offers .red-button:active {
  background-color: var(--deep-red);
}

.developer-wrapper {
  padding-bottom: 70px;
}

.main-catalog-wrapper {
  padding-bottom: 70px;
}

.headline {
  font-family: var(--cuprum-font);
  background-color: var(--special-grey);
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 25px 19px 26px 28px;
}

.headline-index {
  padding: 25px 14px 26px 28px;
}

.headline h2 {
  color: var(--basic-dark-blue);
  font-size: 30px;
  line-height: 38px;
  text-transform: uppercase;
  font-weight: normal;
  margin: 0;
}

.headline .red-button {
  padding: 11px 38px 9px 39px;
  margin-left: auto;
}

.headline .popular-button {
  padding: 10px 25px 10px 24px;
  margin-left: auto;
}

.headline .red-button-catalog {
  padding: 11px 24px 9px 24px;
}

.catalog-main-header {
  margin-bottom: 21px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.breadcrumbs li {
  position: relative;
  padding-left: 40px;
}

.breadcrumbs li:not(:first-child)::before {
  content: url(../img/icon-right-small.svg);
  position: absolute;
  left: 16px;
  top: 2px;
}

.breadcrumbs li:first-child {
  padding: 0;
}

.breadcrumbs li:first-child a {
  display: block;
  width: 15px;
  height: 17px;
  background-image: url(../img/icon-home.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sort {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  padding-bottom: 33px;
}

.catalog-headline {
  margin: 0;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
  grid-column: 1 / 5;
}

.sort-container {
  grid-column: 2 / 5;
  grid-row: 2 / 3;
  display: flex;
  align-items: baseline;
}

.sort-form {
  grid-column: 1 / 2;
  grid-row: 2 / 7;
}

.pagination {
  grid-column: 2 / 5;
  grid-row-start: 6;
  display: flex;
  flex-wrap: wrap;
}

.pagination li:not(:first-child) {
  margin-right: 10px;
}

.catalog-page {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 18px;
  width: 700px;
  grid-column: 2 / 5;
  grid-row: 3 / 6;
}

.catalog-item {
  position: relative;
  max-width: 220px;
  min-height: 318px;
  text-align: center;
  border: 1px solid var(--border-grey);
  padding-bottom: 70px;
}

.new-icon::after {
  content: url(../img/new-icon.png);
  position: absolute;
  top: 0;
  right: 0;
}

.catalog-item p {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: var(--text-grey);
  text-decoration: line-through;
}

.catalog-item .red-button {
  position: absolute;
  right: 35px;
  bottom: 20px;
  display: block;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 13px 10px 5px;
  border-radius: 2px;
  font-family: inherit;
  width: 138px;
  text-align: center;
}

.catalog-item .red-button::after {
  content: url(../img/arrow-price.svg);
  position: absolute;
  top: 0;
  right: -2px;
  width: 19px;
  height: 100%;
}

.buttons-image-wrapper {
  display: flex;
  flex-direction: column;
  height: 178px;
  position: relative;
}

.buttons-image-wrapper img {
  margin: auto;
  object-fit: contain;
}

.buy-buttons {
  display: none;
  font-family: var(--cuprum-font);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 135px;
  position: absolute;
}

.catalog-item:hover .buttons-image-wrapper img {
  display: none;
}

.catalog-item:hover {
  box-shadow: var(--form-shadow);
}

.catalog-item:hover .buy-buttons {
  display: block;
}

.green-button {
  color: var(--white);
  background-color: var(--basic-green);
  box-shadow: inset 0px -3px 0px var(--border-green);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  border-radius: 2px;
  margin-bottom: 10px;
  top: 37px;
  left: 41px;
  position: relative;
}

.green-button:hover {
  background-color: var(--green-button);
}

.green-button:active {
  background-color: var(--dark-green-button);
}

.green-button::before {
  content: url(../img/icon-cart.svg);
  position: absolute;
  left: 30px;
  top: 10px;
  opacity: 0.3;
}

.green-button-transparent {
  color: var(--basic-dark-blue);
  background-color: var(--white);
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 2px;
  border: 3px solid var(--basic-green);
  top: 85px;
  left: 41px;
}

.green-button-transparent:hover {
  border: 3px solid var(--basic-dark-blue);
}

.green-button-transparent:active {
  border: 3px solid var(--basic-dark-blue);
  opacity: 0.5;
}

.developer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.developer li:hover {
  box-shadow: var(--form-shadow);
}

.developer li:active {
  opacity: 0.5;
}

.developer img {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.developer li {
  border: 1px solid var(--border-grey);
  position: relative;
}

.developer a {
  display: block;
  width: 218px;
  height: 143px;
}

.about-product {
  background-color: var(--blue-background);
  padding-top: 64px;
  padding-bottom: 67px;
}

.additional-services h2, .about-product h3 {
  font-family: var(--cuprum-font);
  font-size: 30px;
  line-height: 35px;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 22px;
}

.additional-services p, .about-product p {
  font-size: 13px;
  margin: 0;
}

.other-delivery {
  background-image: url(../img/delivery.png);
  background-repeat: no-repeat;
  background-position: right 10px top 90px;
}

.guarantee {
  background-image: url(../img/guarantee.png);
  background-repeat: no-repeat;
  background-position: right top 72px;
}

.credit {
  background-image: url(../img/credit.png);
  background-repeat: no-repeat;
  background-position: right top 70px;
}

.wrapper-services {
  background-color: var(--blue-background);
  padding-top: 63px;
}

.additional-services-paragraph {
  width: 400px;
}

.additional-item p {
  width: 330px;
}

.services-button-wrapper {
  position: relative;
  padding-bottom: 100px;
  padding-top: 71px;
}

.services-button-wrapper::after {
  content: url(../img/shadow-line.png);
  position: absolute;
  top: 25px;
  right: 0;
}

.blue-button {
  font-family: var(--cuprum-font);
  font-size: 21px;
  line-height: 31px;
  font-weight: bold;
  color: var(--white);
  background-color: var(--basic-dark-blue);
  padding-top: 15px;
  padding-bottom: 16.5px;
  padding-left: 22px;
  border: none;
  display: block;
  width: 240px;
  text-align: start;
  outline: none;
  cursor: pointer;
}

.blue-button:hover {
  background-color: var(--basic-darker-blue);
  color: var(--white);
}

.blue-button:hover {
  background-color: var(--basic-darker-blue);
}

.blue-button:active {
  background-color: var(--white);
  color: var(--basic-dark-blue);
}

.blue-button:not(:first-child):not(:active) {
  box-shadow: inset 0px 1px 0px var(--border-blue), 0px 1px 0px var(--basic-dark-blue);
}

.button-current {
  background-color: var(--white);
  color: var(--basic-dark-blue);
}

.additional-item {
  display: flex;
}

.services-items {
  width: 100%;
  margin-right: -10px;
}

.services-items .credit {
  padding-top: 65px;
}

.services-items h3 {
  font-family: var(--cuprum-font);
  font-weight: normal;
  font-size: 36px;
  line-height: 34px;
  text-transform: uppercase;
  color: var(--basic-dark-blue);
  margin-bottom: 28px;
  margin-top: 0;
}

.guarantee h3 {
  margin-bottom: 24px;
}

.other-delivery h3 {
  font-size: 30px;
  line-height: 30px;
}

.services-items p, .about p, .contacts p {
  font-size: 13px;
}

.services-items p {
  line-height: 26px;
}

.guarantee p {
  line-height: 25px;
}

.credit p {
  padding-bottom: 32px;
}

.services-items>div {
  margin-left: 80px;
  padding-top: 69px;
  padding-bottom: 20px;
  height: 100%;
}

.services-items .red-button {
  padding: 10px 45px 11px 46px;
  border-radius: 2px;
}

.about-us {
  display: flex;
  justify-content: space-between;
  padding-bottom: 70px;
  padding-top: 67px;
}

.about h2, .contacts h2 {
  margin-top: 0;
  margin-bottom: 22px;
}

.about p, .contacts p {
  margin-top: 0;
  margin-bottom: 0;
}

.contacts p {
  margin-bottom: 32px;
  width: 180px;
}

.about p:first-of-type {
  margin-bottom: 26px;
}

.about {
  width: 450px;
}

.about p:last-of-type {
  margin-bottom: 3px;
}

.about h2, .contacts h2, .about .list {
  font-family: var(--cuprum-font);
}

.about h2, .contacts h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 34px;
  text-transform: uppercase;
}

.about .red-button {
  display: inline-block;
  padding: 11px 40px 9px 40px;
  margin-top: 7px;
}

.about li {
  margin-bottom: 12px;
  padding-left: 37px;
  position: relative;
}

.about li::before {
  content: '';
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  position: absolute;
  top: 13px;
  left: 0;
}

.contacts {
  width: 300px;
}

.contacts .red-button {
  display: block;
  padding-top: 11px;
  padding-bottom: 9px;
  margin-top: 20px;
  width: 100%;
}

.order-form, .success-window, .modal-map {
  box-shadow: var(--form-shadow);
  border-top: 7px solid var(--basic-red);
}

.success-window {
  width: 620px;
  height: 275px;
  padding-top: 66px;
  text-align: center;
}

.success-window::before {
  content: url(../img/icon-mark.svg);
  position: absolute;
  top: 48px;
  left: 81px;
}

.modal {
  display: none;
  position: fixed;
  left: 30%;
  top: 20%;
  /* transform: translate(-50%, -50%); */
  z-index: 6;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.order-form {
  width: 620px;
  height: 423px;
}

.close-button {
  width: 21px;
  height: 21px;
  background-color: transparent;
  background-image: url(../img/icon-close.svg);
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  top: 14px;
  right: 11px;
}

.modal-map .close-button {
  top: 17px;
  right: 10px;
}

.success-window .close-button {
  top: 11px;
  right: 11px;
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 80px 31px 80px;
  background-color: var(--white);
}

.feedback-form p {
  width: 220px;
  margin: 0;
}

.feedback-form p:nth-child(1) {
  margin-right: auto;
}

.feedback-form p:nth-child(3) {
  flex-grow: 1;
  margin-top: 13px;
}

.feedback-form label {
  margin-bottom: 10px;
  display: block;
}

.order-form label, .order-form .red-button, .success-window {
  font-family: var(--cuprum-font);
}

.order-form input, .order-form textarea {
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  border: 2px solid var(--basic-grey);
  color: var(--text-grey);
  border-radius: 2px;
}

.order-form input {
  width: 220px;
  min-height: 38px;
  display: block;
  padding-left: 10px;
}

.order-form textarea {
  width: 460px;
  min-height: 114px;
  resize: none;
  padding-top: 10px;
  padding-left: 10px;
}

.order-form .red-button {
  padding: 11px 199px 9px 199px;
  margin: auto;
}

.button-wrapper {
  background-color: var(--light-backgroun);
  height: 112px;
  text-align: center;
  width: 100%;
  display: flex;
}

.success-window .button-wrapper {
  align-items: center;
  padding-left: 114px;
  padding-right: 113px;
}

.success-window p {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 67px;
}

.success-window .red-button {
  padding: 11px 46px 9px 47px;
  margin-right: 10px;
}

.another-close {
  color: var(--basic-black);
  background-color: var(--white);
  border: none;
  padding: 11px 31px 9px 32px;
}

.modal-map {
  width: 943px;
  height: 449px;
}

.modal-map iframe {
  border: none;
}

.breadcrumbs li {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs a {
  color: var(--basic-black);
}

.sort h2 {
  font-family: var(--cuprum-font);
  color: var(--basic-dark-blue);
  font-size: 30px;
  font-weight: normal;
  line-height: 34px;
  text-transform: uppercase;
  background-color: var(--light-blue-background);
  min-height: 89px;
}

.sort-by {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sort-container {
  background-color: var(--sort-background);
  padding: 10px 16px 10px 19px;
}

.sort-property {
  min-width: 353px;
}

.sort h3, .sort-by a {
  display: block;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  margin: 0;
}

.catalog-item h3 {
  padding-left: 29px;
  padding-right: 29px;
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 8px;
  text-transform: none;
}

.sort-container h3 {
  margin-right: 140px;
}

.sort-by-arrows {
  width: 66px;
  margin-left: auto;
  padding-left: 20px;
}

.active-sort-button path {
  fill: var(--basic-red);
}

.sort-by-high:hover path, .sort-by-low:hover path {
  fill: var(--basic-black);
}

.sort-by-arrows button {
  border: none;
  margin: 0;
  padding: 0;
  background-color: var(--sort-background);
  cursor: pointer;
  outline: none;
}

.sort-container h3, .sort-form h3 {
  font-weight: normal;
}

.sort .filter {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 18px;
  background-color: var(--sort-background);
  margin-bottom: 15px;
}

.sort-by a {
  opacity: 0.3;
  border-bottom: 1px dotted var(--basic-red);
}

.sort-by .active-sort {
  color: var(--basic-red);
  opacity: 1;
  border: none;
}

.sort-by a:hover {
  opacity: 1;
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.active-arrow-sort path {
  fill: var(--basic-red);
  opacity: 1;
}

.sort-form fieldset {
  border: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.sort-form legend {
  font-size: 17px;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
}

.sort .range-form {
  padding-bottom: 25px;
  border-bottom: 1px solid var(--sort-border);
}

.sort .checkbox-form {
  padding-bottom: 28px;
  border-bottom: 1px solid var(--sort-border);
}

.range-controls {
  height: 80px;
  background-color: var(--sort-background);
  margin-bottom: 8px;
  padding-top: 39px;
  position: relative;
}

.range-controls .scale {
  width: 180px;
  height: 2px;
  background: var(--scale-line);
  margin: 0 auto;
}

.range-controls .bar {
  width: 85%;
  height: 2px;
  background: var(--bar-line);
}

.range-controls .toggle {
  position: absolute;
  top: 29px;
  width: 20px;
  height: 22px;
  background-image: url(../img/filter-button.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  outline: none;
}

.toggle-min {
  left: 18px;
}

.toggle-max {
  left: 161px;
}

.range-sort {
  font-size: 17px;
  text-transform: uppercase;
  border: none;
  background-color: var(--sort-background);
  width: 95px;
  height: 38px;
  text-align: center;
  padding: 0;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.checkbox-form label, .radio-form label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  padding-left: 35px;
}

.checkbox-form label:not(:last-child) {
  margin-bottom: 20px;
}

.radio-form label {
  margin-bottom: 22px;
}

.radio-form label:last-child {
  margin-bottom: 40px;
}

.input-checkbox+label::before {
  content: url(../img/checkbox-off.svg);
  position: absolute;
  top: -2px;
  left: 0;
  opacity: 0.8;
}

.input-checkbox:checked+label::before {
  content: url(../img/checkbox-on.svg);
  position: absolute;
  top: -2px;
  left: 0;
}

.input-checkbox:hover+label::before, .input-radio:hover+label::before {
  opacity: 1;
}

.input-checkbox:disabled+label, .input-radio:disabled+label {
  opacity: 0.4;
  cursor: default;
}

.input-radio+label::before {
  content: url(../img/radio-off.svg);
  position: absolute;
  top: -2px;
  left: 0;
  opacity: 0.8;
}

.input-radio:checked+label::before {
  content: url(../img/radio-on.svg);
  position: absolute;
  top: -2px;
  left: 0;
}

.checkbox-form legend {
  padding-top: 17px;
  padding-bottom: 20px;
}

.radio-form legend {
  padding-top: 19px;
  padding-bottom: 26px;
}

.checkbox-sort, .radio-sort {
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.sort-button {
  font-size: 13px;
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid var(--border-light-grey);
  padding: 9px 79px 9px 78px;
}

.pagination a {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black);
  border: 1px solid var(--border-light-grey);
  border-radius: 2px;
  padding: 9px 14px;
  display: block;
}

.pagination .next-page {
  padding: 9px 30px 9px 31px;
}

.pagination a:hover {
  border: 1px solid var(--basic-grey);
}

.pagination a:active {
  border: 1px solid var(--basic-red);
}

.pagination .active-page {
  border: 1px solid var(--basic-red);
  background-color: var(--basic-red);
  color: var(--white);
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}
